{% macro string(RU, EN) %}
	{% if function('get_locale') == "ru_RU" %}{{RU}}{% else %}{{EN}}{% endif %}
{% endmacro %}
{% macro case(caseClass, thumbnail, title, age, city, description, link) %}
	{% import _self as macros %}
	<div class="case {{caseClass}}">
		<a href="{{link}}" class="case__link">
			<div class="case__header">
				<img src="{{TimberImage(thumbnail).src}}" alt="{{title}}" class="case__image">
			</div>
			<div class="case__content">
				<p class="case__title">{{title}}</p>
				<div class="case__info">
					<p>{{age}} {{macros.string('лет', 'age')}}</p>
					<p>{{city}}</p>
				</div>
				<div class="case__description">
					{{description}}
				</div>
				<div class="case__footer">
					<span href="{{link}}" class="case__read">{{macros.string('Читать далее', 'Read more')}}</span>
				</div>
			</div>
		</a>
	</div>
{% endmacro %}

{% macro titleSection(title) %}
	<h3 class="title-md title-section">{{title}}</h3>
{% endmacro %}

{% macro sectionGreeting(image, title, contentClass) %}
	<section class="section greeting">
		<div class="container">
			<div class="row greeting__row">
				<div class="col-12 col-md-5">
					<div class="greeting__image">
						<img src="{{image}}" alt="{{title}}">
					</div>
				</div>
				<div class="col-12 col-md-7">
					<div class="greeting__content {{contentClass}}">
						{{title}}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endmacro %}

{% macro teamItem(image, name, position) %}
	<div class="team-item col-12 col-sm-6 col-md-4">
		<div class="team-item__content">
			<img src="{{image|resize(370,370)}}" alt="{{name}}" class="team-item__image">
			<div class="team-item__info">
				<p class="team-item__name">{{name}}</p>
				<p class="team-item__position">{{position}}</p>
			</div>
		</div>
	</div>
{% endmacro %}