{% macro string(RU, EN) %}
	{% if function('get_locale') == "ru_RU" %}{{RU}}{% else %}{{EN}}{% endif %}
{% endmacro %}

{% macro shareButton(link) %}
	{% import _self as macros %}
	<div class="fb-share-button" data-href="{{link}}" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse&amp;lang=en" class="fb-xfbml-parse-ignore">{{macros.string('Поделиться', 'Share')}}</a></div>
{% endmacro %}

{% macro case(caseClass, case, case_read) %}
	{% import _self as macros %}
	<div class="case {{caseClass}}">
		<div class="case__header">
			<a href="{{case.link}}">
				<img src="{{TimberImage(case.thumbnail).src}}" alt="{{case.title}}" class="case__image">
			</a>
		</div>
		<div class="case__content">
			<a href="{{case.link}}" class="case__link case__title">{{case.title}}</a>
			<div class="case__info">
				<p>{{case.age}} {{function('year_text_arg', case.age)}}</p>
				<p>{{case.city}}</p>
			</div>
			<div class="case__description">
				{{case.description}}
			</div>
			<div class="case__footer">
				<a href="{{case.link}}" class="case__read">{{case_read}}</a>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro titleSection(title, class) %}
	<h3 class="title-md title-section {{class}}">{{title}}</h3>
{% endmacro %}

{% macro sectionGreeting(image, title, contentClass) %}
	<section class="section greeting">
		<div class="container">
			<div class="row greeting__row">
				<div class="col-12 col-sm-5">
					<div class="greeting__image">
						<img src="{{image}}" alt="{{title}}">
					</div>
				</div>
				<div class="col-12 col-sm-7">
					<div class="greeting__content {{contentClass}}">
						{{title}}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endmacro %}

{% macro teamItem(image, name, position) %}
	<div class="team-item col-12 col-sm-6 col-md-4">
		<div class="team-item__content">
			<img src="{{image|resize(370,370)}}" alt="{{name}}" class="team-item__image">
			<div class="team-item__info">
				<p class="team-item__name">{{name}}</p>
				<p class="team-item__position">{{position}}</p>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro partner(image, name) %}
	<div class="partner-item">
		<div class="partner-item__inner">
			<div class="partner-item__header">
				<img src="{{image}}" alt="{{name}}" class="partner-item__image">
			</div>
			<div class="partner-item__content">
				{{name}}
			</div>
		</div>
	</div>
{% endmacro %}

{% macro social(link, icon) %}
	<li class="social__item">
		<a href={{link}} class="social__link">
			<img class="social__image" src={{icon}} alt="Social link">
		</a>
	</li>
{% endmacro %}

{% macro landingButton(link, text, effect) %}
	<a href="{{link}}" class="btn btn_lg btn_brand-1 btn_shadow-brand-1 effect {{effect}}">{{text}}</a>
{% endmacro %}



{% macro article(article, thumbnailDefault) %}
	{% import _self as macros %}
	{% if article.thumbnail.src %}
		{% set image = article.thumbnail.src|resize(370, 170) %}
	{% else %}
		{% set image = thumbnailDefault %}
	{% endif %}
	<article class="article-item row">
		<div class="article-item__header col-12 col-sm-5">
			<div class="article-item__image-wrapper">
				<a href="{{article.link}}">
					<img src="{{image}}" alt="{{title}}" class="article-item__image">
				</a>
			</div>
		</div>
		<div class="article-item__body col-12 col-sm-7">
			<a href="{{article.link}}" class="article-item__link article-item__title">{{article.title}}</a>
			<div class="article-item__info">
				<span class="article-item__categories">{% for category in article.categories %}{{category}}{% endfor %}</span>
				<span class="article-item__date">{{ article.post_date|date('F j, Y') }}</span>
			</div>
			<div class="article-item__description">
				{{article.preview.read_more('').end('').length(20)}}
			</div>
			<div class="article-item__footer">
				<a href="{{article.link}}" class="article-item__read">{{macros.string('Читать далее', 'Read more')}}</a>
			</div>
		</div>
	</article>
{% endmacro %}