{% macro string(RU, EN) %}
	{% if function('get_locale') == "ru_RU" %}{{RU}}{% else %}{{EN}}{% endif %}
{% endmacro %}
{% macro case(thumbnail, title, age, city, description, link) %}
	{% import _self as macros %}
	<div class="case col-12 col-sm-6 col-md-3">
		<div class="case__header">
			<img src="{{TimberImage(thumbnail).src}}" alt="{{title}}" class="case__image">
		</div>
		<div class="case__content">
			<p class="case__title">{{title}}</p>
			<div class="case__info">
				<p>{{age}} {{macros.string('лет', 'age')}}</p>
				<p>{{city}}</p>
			</div>
			<div class="case__description">
				{{description}}
			</div>
			<div class="case__footer">
				<a href="{{link}}" class="case__link">{{macros.string('Читать далее', 'Read more')}}</a>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro titleSection(title) %}
	<h3 class="title-md title-section">{{title}}</h3>
{% endmacro %}