{% include 'html-header.twig' %}
{% import '_macros.twig' as siteMacros %}
</head>

	<body class="{{body_class}}" data-template="base.twig">
		<div class="fixed">
			<div class="nav" id="js-navigation">
        <div class="nav__container container">
          <div class="nav__row row">
            <div class="nav__logo col-7 col-md-2">
              <button class="hamburger hamburger_effect-2" type="button" id="js-nav-hamburger"><span class="hamburger__lines"><span></span><span></span><span></span><span></span></span>
              </button>
              <div class="nav__logo-content">
              	{{function('get_custom_logo')}}
              </div>
            </div>
            <nav class="nav__menu col-12 col-md-8" id="js-navigation-menu">
              {% include "menu.twig" with {'menu': menu.get_items} %}
              <div class="nav__menu-switcher">
                {{language_switcher}}
              </div>
            </nav>
            <div class="nav__addition col-5 col-md-2" id="js-nav-addition">
              <a href="{{options.btn_nav_link}}" class="btn btn_brand-1 effect effect_bounce-top nav__addition-btn">{{options.btn_nav_text}}</a>
            </div>
          </div>
        </div>
      </div>
		</div>
		<main class="site">

			{% block content %}
				Sorry, no content
			{% endblock %}

			{% block footer %}
				<footer class="footer">
					{% include 'footer.twig' %}
				</footer>
				{{ function('wp_footer') }}
			{% endblock %}
		</main>
	</body>
</html>
