<div class="container footer__container">
	<div class="row footer__row">
		<div class="footer__column col-12 col-sm-3 col-md-4">
			<img src="{{options.footer_logo}}" class="footer__logo" alt="Footer logo">
			<ul class="social footer__social">
				{% for social in options.social %}
					{{siteMacros.social(social.link, social.icon)}}
				{% endfor %}
			</ul>
		</div>
		<div class="footer__column col-12 col-sm-6 col-md-5">
			<div class="footer__place">{{options.address}}</div>
			<ul class="footer__phones">
				{% for phone in options.phones %}
					<li>{{siteMacros.string('Тел.: ', 'Ph.: ')}}<a class="footer__phone" href="tel: {{phone.phone}}">{{phone.phone}}</a></li>
				{% endfor %}
			</ul>

			<ul class="footer__emails">
				{% for email in options.emails %}
					<li>
						<a class="footer__email" href="mailto: {{email.email}}">{{email.email}}</a>
					</li>
				{% endfor %}
			</ul>
			
		</div>
		<div class="footer__column col-12 col-sm-3 col-md-3">
			<div class="footer__menu">
				{% include "menu.twig" with {'menu': menu_footer.get_items} %}
			</div>
		</div>
	</div>
</div>