<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-9">
				<article class="article {{post.class}}" id="{{post.id}}">
					<div class="article__content">
						{{post.content}}
					</div>
					<div class="article__footer">
						{{ siteMacros.shareButton() }}
					</div>
				</article>
			</div>
			<div class="col-12 col-md-3">
				{{sidebar}}
			</div>
		</div>
	</div>
</section>